<!-- Form Bankaccount -->
<form [formGroup]="bankAccountForm" class="form-bankAccount" *ngIf="data.action === 'create' || data.action === 'update'">
    <h2 *ngIf="data.action === 'create'">Ajouter un nouveau compte bancaire</h2>
    <h2 *ngIf="data.action === 'update'">Modifier un compte bancaire</h2>
    <div class="line">
      <mat-form-field>
        <mat-label>Type de compte</mat-label>
        <mat-select type="text" formControlName="typeAccount">
          <mat-option [value]="bankAccount.typeAccount">{{ bankAccount.typeAccount }}</mat-option>
          <mat-option *ngFor="let type of typeAccounts" [value]="type">{{ type }}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field hintLabel="(*) 11 chiffres">
        <mat-label>Référence du compte</mat-label>
        <input matInput #referenceAccount maxlength="11" placeholder="00000000000" type="text" formControlName="referenceAccount">
        <mat-hint align="end">{{referenceAccount.value.length}}/11</mat-hint>
      </mat-form-field>
    </div>
    <div class="line">
      <mat-form-field hintLabel="(*) Nombre positif ou négatif, max 2 décimales">
        <mat-label>Solde initial du compte en €uros</mat-label>
        <input matInput #initialBalance maxlength="10" placeholder="2500" type="number" formControlName="initialBalance">
        <mat-hint align="end">{{initialBalance.value.length}}/10</mat-hint>
      </mat-form-field>
      <mat-form-field hintLabel="(*) 2 à 20 caractères alphabétique">
        <mat-label>Nom de la banque</mat-label>
        <input matInput #bankName maxlength="20" placeholder="BNP" type="text" formControlName="bankName">
        <mat-hint align="end">{{bankName.value.length}}/20</mat-hint>
      </mat-form-field>
    </div>
    <div class="line">
      <mat-form-field hintLabel="(*) 2 à 50 caractères alphanumérique et #,°&-">
        <mat-label>Adresse</mat-label>
        <input matInput #address maxlength="50" placeholder="45, Rte de St-Simon" type="text" formControlName="address">
        <mat-hint align="end">{{address.value.length}}/50</mat-hint>
      </mat-form-field>
      <mat-form-field hintLabel="(*) 2 à 30 caractères alphabétique">
        <mat-label>Ville</mat-label>
        <input matInput #city maxlength="30" placeholder="Toulouse" type="text" formControlName="city">
        <mat-hint align="end">{{city.value.length}}/30</mat-hint>
      </mat-form-field>
    </div>
    <div>
      <mat-hint class="common_message" *ngIf="success_message">Formulaire enregistré ({{countdown}}s)</mat-hint>
      <mat-error *ngIf="error">{{ errormessage }}</mat-error>
    </div>
    <div class="button-container">
      <button mat-raised-button class="button-common" (click)="sendFormBankAccount(this.bankAccountForm, this.data.action)">Enregistrer</button>
      <button mat-raised-button class="button-quit" (click)="closeFormAddBankAccount()">Quitter</button>
    </div>
</form>
<!-- Form Bankaccount / Delete -->
<form [formGroup]="bankAccountForm" class="form-bankAccount-delete" *ngIf="data.action === 'delete'">
  <h2>Supprimer un compte bancaire</h2>
  <p>Êtes-vous sûre de vouloir supprimer le compte ?<br>Note: l'ensemble des données associé seront supprimées.</p>
  <p>Référence: {{ this.data.bankAccount.referenceAccount}} </p>

  <div>
    <mat-hint class="common_message" *ngIf="delete_message">Compte supprimé ({{countdown}}s)</mat-hint>
    <mat-error *ngIf="error">{{ errormessage }}</mat-error>
  </div>

  <div class="button-container">
    <button mat-raised-button class="button-common" (click)="sendFormBankAccount(this.bankAccountForm, this.data.action)">Oui, supprimer</button>
    <button mat-raised-button class="button-quit" (click)="closeFormAddBankAccount()">Non, quitter</button>
  </div>
</form>

