.form-bankAccount{
  width: 945px;
  height: 515px;
  background-color: white;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.form-bankAccount-delete{
  width: 445px;
  height: 315px;
  background-color: white;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

h2{
  font-size: 20px;
}

mat-form-field{
  width: 40%;
  margin-left: 5%;
  margin-right: 5%;
}

.line{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.common_message{
  color: green;
}

.button-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
}

.button-container button {
  margin-left: 10px;
}

.button-common{
  background-color: rgb(10, 10, 90);
  color: white;
  width: 150px;
}

.button-quit{
  background-color: rgb(133, 133, 133);
  color: white;
  width: 150px;
}

/* Styles spécifiques pour les écrans de taille 768x1024 */
@media (max-width: 768px) and (max-height: 1024px) {
  .form-bankAccount, .form-delete-bankAccount {
    width: 565px;
    height: auto;
    overflow-x: auto;
    padding: 20px;
  }

  .line {
    flex-direction: column;
    align-items: center;
  }

  h2 {
  text-align: center;
  }

  mat-form-field {
    width: 90%;
    margin: 10px 0;
  }

  .icon-confirm, .icon-quit {
    margin: 0 auto;
  }

  .success_message, mat-error {
    text-align: center;
  }
}
