.disconnect {
  width: 350px;
  height: 200px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.title {
  margin-top: 20px;
  text-align: center;
  width: 100%;
  height: 10%;
}

.success-message {
  text-align: center;
  color: green;
  margin-bottom: 30px;
  width: 50%;
}
