<div class="form-register">
  <div class="title">
    <h1>Inscription</h1>
  </div>
  <mat-horizontal-stepper [linear]="true" #stepper>
    <!-- ÉTAPE 1: Formulaire d'inscription -->
    <mat-step [stepControl]="newUserForm" label="Compléter votre profil">
      <form [formGroup]="newUserForm">
        <div class="form-section1">
          <mat-form-field>
            <mat-label>nom</mat-label>
            <input matInput type="text" formControlName="lastName"/>
            <mat-error *ngIf="newUserForm?.get('lastName')?.invalid && newUserForm?.get('lastName')?.touched">Format non valide.</mat-error>
          </mat-form-field>

          <mat-form-field>
            <mat-label>prénom</mat-label>
            <input matInput type="text" formControlName="firstName"/>
            <mat-error *ngIf="newUserForm?.get('firstName')?.invalid && newUserForm?.get('firstName')?.touched">Format non valide.</mat-error>
          </mat-form-field>

          <mat-form-field>
            <mat-label>email</mat-label>
            <input matInput type="text" formControlName="email"/>
            <mat-error *ngIf="newUserForm?.get('email')?.invalid && newUserForm?.get('email')?.touched">Format non valide.</mat-error>
          </mat-form-field>

          <mat-form-field>
            <mat-label>mot de passe</mat-label>
            <input matInput [type]="hide ? 'password' : 'text'" formControlName="password"/>
            <mat-icon matSuffix (click)="togglePasswordVisibility()">{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
              <mat-error *ngIf="newUserForm?.get('password')?.invalid && newUserForm?.get('password')?.touched">
                Au moins 8 caractères dont un chiffre, une minuscule, une majuscule, un caractère spécial.
              </mat-error>
          </mat-form-field>

          <mat-form-field>
            <mat-label>ressaisir le mot de passe</mat-label>
            <input matInput [type]="hide ? 'password' : 'text'" formControlName="passwordControl"/>
            <mat-icon matSuffix (click)="togglePasswordVisibility()">{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
              <mat-error *ngIf="newUserForm?.get('passwordControl')?.invalid && newUserForm?.get('passwordControl')?.touched">
                Votre de mot de passe n'est pas identique à la saisie précédente.
              </mat-error>
          </mat-form-field>
        </div>

        <div *ngIf="errorMessage1" class="error-message">
          <mat-error>{{ errorMessage1 }}</mat-error>
        </div>

        <div class="button-container1">
          <button mat-raised-button class="button-common" (click)="secretCodeRequest(stepper, this.newUserForm.value.email)">Valider</button>
          <button mat-raised-button class="button-quit" (click)="closeFormRegister()">Quitter</button>
        </div>

        <div class="container-link">
          <mat-label class="forgot-password" (click)="openPwdForgot()">Mot de passe oublié</mat-label>
          <mat-label class="registerNewUser" (click)="openConnectUser()">Se connecter</mat-label>
        </div>
      </form>
    </mat-step>

    <!-- ÉTAPE 2: Formulaire code secret -->
    <mat-step [stepControl]="secretCodeForm" label="Contrôle du code secret">
      <form [formGroup]="secretCodeForm">

        <div class="message-secretCode">
          <p>Un code secret a été envoyé sur votre boîte mail: {{ this.newUserForm.value.email }}</p>
          <p>Veuillez fournir le code demandé pour terminer la procédure d'inscription</p>
        </div>

        <div class="form-section2">
          <mat-form-field>
            <mat-label>Code secret</mat-label>
            <input matInput type="text" formControlName="secretCode"/>
            <mat-error *ngIf="secretCodeForm?.get('secretCode')?.invalid && secretCodeForm?.get('secretCode')?.touched">Code invalide.</mat-error>
          </mat-form-field>
        </div>

        <div *ngIf="successMessage" class="success-message">
          <mat-hint>{{successMessage}} ({{countdown}}s)</mat-hint>
        </div>

        <div *ngIf="errorMessage2" class="error-message">
          <mat-error>{{errorMessage2}}</mat-error>
        </div>

        <div class="button-container2">
          <button mat-raised-button class="button-common" (click)="registrationRequest()">Valider</button>
          <button mat-raised-button class="button-quit" (click)="closeFormRegister()">Quitter</button>
        </div>

        <div class="container-link">
          <mat-label class="forgot-password" (click)="openPwdForgot()">Mot de passe oublié</mat-label>
          <mat-label class="registerNewUser" (click)="openConnectUser()">Se connecter</mat-label>
        </div>
      </form>
    </mat-step>
  </mat-horizontal-stepper>
</div>
