<footer>
  <mat-toolbar class="toolbar">
    <nav>
      <div class="footband">
        &nbsp;
        <a (click)="openFormcontact()">Nous contacter | </a>
        <a>Politique de protection des données | </a>
        <a (click)="openCgu()">CGU | </a>
        <a>Crédits | </a>
        <a>Mentions légales</a>
      </div>
    </nav>
  </mat-toolbar>
</footer>
