footer {
  position: fixed;
  bottom:0;
  left: 0;
  width: 100%;
  height: 6%;
  transition: height 0.3s ease;
  z-index: 2;
}

mat-toolbar{
  justify-content: center;
  align-items: center;
  background-color: rgb(10, 10, 90);
}

nav{
  text-align: center;
  clear:both;
}

.footband{
  float: center;
}

a{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  color: white;
}

