mat-expansion-panel-body {
  height: 546px;
}

mat-panel-title {
  font-size: 20px;
}

.selection-menu {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

mat-form-field {
  flex: 1;
  margin-left: 3%;
  margin-right: 3%;
  width: 30%;
}

mat-card-title {
  font-size: 15px;
}

.container-kpi {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.kpi {
  width: 30%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2px;
  background-color: rgb(200, 200, 200);
}

.amount {
  font-size: 25px;
  font-weight: bold;
}

.chart {
  width: 30%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2px;
}

.month {
  font-size: 15px;
  font-style: italic;
  text-align: right;
}

.period {
  font-size: 15px;
  font-style: italic;
  text-align: right;
}

.container-graph {
  display: flex;
  flex-direction: row;
}

.carousel {
  overflow: hidden;
  width: 100%;
  position: relative;
}

.carousel-container {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.carousel-item {
  min-width: 100%;
  transition: transform 0.5s ease-in-out;
}

.carousel-item.active {
  display: block;
}

.carousel-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
}

.carousel-button.left {
  left: 0;
}

.carousel-button.right {
  right: 0;
}

.carousel-inner {
  display: flex;
  overflow: hidden;
  width: 100%;
}

.container-tableau {
  width: 90%;
  height: 100%;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.card-tableau {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.transaction_table {
  margin: 0;
}

table {
  width: 100%;
}

th, td {
  width: 100px;
  text-align: center;
}

.cloud_icon {
  color: green;
}

.mat-row:nth-child(2) {
  font-weight: bold;
}

.error-message{
  text-align: center;
  margin-top: 10px;
}

@media (max-width: 1266px) {
  .container-graph {
    width: 575px ;
    overflow-x: auto;
  }
  .chart {
    width: 420px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2px;
  }
  .container-tableau {
    width: 550px ;
    overflow-x: auto;
    display: flex;
    justify-content: center;
    margin: 0 auto;
  }
  .transaction_table {
    margin: 0px 0px 0px 20px;
  }
  .card-tableau {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
