<div class="container-main">
  <mat-accordion>
    <mat-expansion-panel  MatAccordionDisplayMode>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Votre composition bancaire
        </mat-panel-title>
      </mat-expansion-panel-header>

      <!-- FILTER BAR -->
      <div class="selection-menu">
        <mat-form-field class="bankaccountField">
          <mat-label>n° compte</mat-label>
          <mat-select type="text" [(ngModel)]="selectedBankAccountId" (selectionChange)="displayStatOfBankAccountSelected()" aria-label="bank account drop-down menu">
            <mat-option [value]="'all'">All</mat-option>
            <mat-option *ngFor="let account of listBankAccount" [value]="account.id"
                        [matTooltip]="''+account.bankName+' - '+getTypeAccountLabel(account.typeAccount)" matTooltipPosition="right">
              {{ account.referenceAccount }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <!-- Period drop down menu - slide 1 -->
        <mat-form-field class="periodField" *ngIf="currentSlide === 0">
          <mat-label>Période</mat-label>
          <mat-select type="text" [(ngModel)]="selectedPeriodSlide1" (selectionChange)="loadStatisticalResponseWithFilter()" aria-label="period drop-down menu">
            <mat-option [value]="'all'">All</mat-option>
            <mat-option *ngFor="let period  of listUniquePeriods" [value]="period ">
              {{ period }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <!-- Period drop down menu - slide 2 -->
        <mat-form-field class="periodField" *ngIf="currentSlide === 1">
          <mat-label>Période</mat-label>
          <mat-select type="text" [(ngModel)]="selectedPeriodSlide2" (selectionChange)="loadStatisticalResponseWithFilter()" aria-label="period drop-down menu">
            <mat-option [value]="'all'">All</mat-option>
            <mat-option *ngFor="let period  of listUniquePeriods" [value]="period ">
              {{ period }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="carousel-container">
        <button mat-icon-button class="carousel-button left" (click)="prevSlide()">
          <mat-icon>arrow_back</mat-icon>
        </button>
        <button mat-icon-button class="carousel-button right" (click)="nextSlide()">
          <mat-icon>arrow_forward</mat-icon>
        </button>

        <div class="carousel">
          <div class="carousel-inner">
            <div class="carousel-item" *ngIf="currentSlide === 0">
              <mat-card>
                <!-- SLIDE 1 -->
                <mat-card-content>
                  <!-- KPI -->
                  <div class="container-kpi">
                    <mat-card class="kpi">
                      <mat-card-header>
                        <mat-card-title>Solde du compte</mat-card-title>
                      </mat-card-header>
                      <mat-card-content>
                        <p class="amount">{{ statBankTransaction.balanceDisplay !== 'N/A' ? statBankTransaction.balanceDisplay + '€' : 'N/A' }}</p>
                        <p class="period">période - {{ statBankTransaction.periodDisplay }}</p>
                      </mat-card-content>
                    </mat-card>

                    <mat-card class="kpi">
                      <mat-card-header>
                        <mat-card-title>Dépense</mat-card-title>
                      </mat-card-header>
                      <mat-card-content>
                        <p class="amount">{{ statBankTransaction.monthDebitDisplay !== 'N/A' ? statBankTransaction.monthDebitDisplay + '€' : 'N/A' }}</p>
                        <p class="month">mois - {{ statBankTransaction.monthDisplay }}</p>
                      </mat-card-content>
                    </mat-card>

                    <mat-card class="kpi">
                      <mat-card-header>
                        <mat-card-title>Crédit</mat-card-title>
                      </mat-card-header>
                      <mat-card-content>
                        <p class="amount">{{ statBankTransaction.monthCreditDisplay !== 'N/A' ? statBankTransaction.monthCreditDisplay + '€' : 'N/A' }}</p>
                        <p class="month">mois - {{ statBankTransaction.monthDisplay }}</p>
                      </mat-card-content>
                    </mat-card>
                  </div>

                  <!-- GRAPH highchart -->
                  <div class="container-graph" *ngIf="!error">
                    <div class="chart">
                      <app-basic-area-chart id ="chart-basic-area" [dataBalance]="dataForBasicAreaChart"></app-basic-area-chart>
                    </div>
                    <div class="chart">
                      <app-semi-circle-chart-debit id="chart-debit" [dataDebit]="dataForDebitSemiCircleChart"></app-semi-circle-chart-debit>
                    </div>
                    <div class="chart">
                      <app-semi-circle-chart-credit id="chart-credit" [dataCredit]="dataForCreditSemiCircleChart"></app-semi-circle-chart-credit>
                    </div>
                  </div>
                  <mat-error class="error-message" *ngIf="error">{{ errormessage }}</mat-error>

                </mat-card-content>
              </mat-card>
            </div>
            <div class="carousel-item" *ngIf="currentSlide === 1">
              <!-- SLIDE 2 -->
              <mat-card>
                <mat-card-content class="card-tableau">
                  <div class="container-tableau">
                    <table mat-table *ngIf="!error" class="transaction_table" [dataSource]="statBankTransaction.listStatusBankingTransaction">
                      <!-- Dynamic Columns -->
                      <ng-container *ngFor="let month of statBankTransaction.months">
                        <!-- Header Column -->
                        <ng-container matColumnDef="{{month}}">
                          <th mat-header-cell *matHeaderCellDef> {{month}} </th>
                          <td mat-cell *matCellDef="let element">
                            <ng-container *ngIf="element.type === 'status' && element[statBankTransaction.monthMap[month]]">
                              <!-- Status Icons -->
                              <mat-icon class="cloud_icon" [matTooltip]="'Transaction(s) enregistrés'" matTooltipPosition="left" *ngIf="element[statBankTransaction.monthMap[month]].status">cloud_done</mat-icon>
                              <mat-icon [matTooltip]="'Transaction(s) absente(s)'" matTooltipPosition="left" *ngIf="!element[statBankTransaction.monthMap[month]].status">block</mat-icon>
                            </ng-container>
                            <ng-container *ngIf="element.type === 'transactions' && element[statBankTransaction.monthMap[month]]">
                              <!-- Transactions Count -->
                              {{element[statBankTransaction.monthMap[month]].transactions}}
                            </ng-container>
                          </td>
                        </ng-container>
                      </ng-container>

                      <!-- Header and Row Declarations -->
                      <tr mat-header-row *matHeaderRowDef="statBankTransaction.months"></tr>
                      <tr mat-row *matRowDef="let row; columns: statBankTransaction.months;"></tr>
                    </table>
                  </div>
                  <mat-error class="error-message" *ngIf="error">{{ errormessage }}</mat-error>
                </mat-card-content>
              </mat-card>
            </div>
          </div>
        </div>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
</div>
