<header>
  <mat-toolbar class="toolbar">
    <div *ngIf="isAuthorized">
      <button mat-icon-button [matMenuTriggerFor]="content_menu" class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon class="icon">menu</mat-icon>
        <mat-menu #content_menu>
          <button mat-menu-item routerLink="welcome">accueil</button>
          <button mat-menu-item routerLink="bank_statement">relevés bancaires</button>
          <button mat-menu-item routerLink="dashboard">bilan</button>
          <button mat-menu-item routerLink="profile">paramètres</button>
        </mat-menu>
     </button>
    </div>
    <span class="nameApplication">GBP</span>
    <span class="spacer"></span>
    <button mat-icon-button class="icon" (click)="openFormDisabledAccess()" aria-label="icon-button with accessibility icon">
      <mat-icon>accessibility</mat-icon>
    </button>
    <mat-icon *ngIf="isAuthorized" class="icon">
      person
    </mat-icon>
    <button mat-icon-button *ngIf="isAuthorized" class="icon" (click)="logoutRequest()" aria-label="icon-button with lock icon">
      <mat-icon>lock</mat-icon>
    </button>
    <button mat-icon-button *ngIf="!isAuthorized" class="icon" (click)="openFormLogin()" aria-label="icon-button with lock open icon">
      <mat-icon>lock_open</mat-icon>
    </button>
  </mat-toolbar>
</header>
