header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 10%;
  z-index: 2;
}

.toolbar{
  background-color: rgb(10, 10, 90);
}

.nameApplication{
  color: white;
}

.spacer {
  flex: 1 1 auto;
}

.avatar{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-left: 10px;
}

.icon{
  color:white;
}
