.profile-section {
  width: 60vh;
  height: 90vh;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.delete-section {
  width: 445px;
  height: 340px;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

h2 {
  font-size: 20px;
  margin-top: 0px;
  text-align: center;
}

.form-profile {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  overflow-y: auto;
  overflow-x: hidden;
}

.form-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  flex-grow: 1;
  margin-top: 36px;
  height: 55%;
}

.form-section mat-form-field {
  width: 90%;
}

.form-section2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  flex-grow: 1;
  margin-top: 36px;
  margin-bottom: 166px;
  height: 55%;
}

.form-section2 mat-form-field {
  width: 90%;
}

.message-secretCode {
  text-align: center;
  margin-bottom: 30px;
  width: 90%;
}

.message-delete-account {
  text-align: center;
  margin-top: 30px;
}

.error-message,
.success-message {
  position: absolute;
  bottom: 80px;
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
  text-align: center;
  z-index: 10;
}

.error-message {
  color: red;
}

.success-message {
  color: green;
}

.button-container1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 300px;
  flex-shrink: 0;
}

.button-container2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 160px;
  flex-shrink: 0;
}

.button-common {
  background-color: rgb(10, 10, 90);
  color: white;
  width: 150px;
}

.button-quit {
  background-color: rgb(133, 133, 133);
  color: white;
  width: 150px;
  margin-left: 10px;
}

@media only screen and (max-width: 768px) and (max-height: 1024px){
  .profile-section  {
    width: 56vh;
    height: 90vh;
    padding: 20px;
  }

  .button-container1 {
    margin-top: 412px;
  }
}
