<div  class="profile-section" *ngIf="data.action === 'update' || data.action === 'secretcode'">
  <h2>Modifier votre profil utilisateur</h2>

  <!-- Form Profile - STEP 1 - UPDATE PROFIL FIELD -->
  <form [formGroup]="profileForm" class="form-profile" *ngIf="action === 'update'">
    <div class="form-section">
      <mat-form-field>
        <mat-label>nom</mat-label>
        <input matInput type="text" formControlName="lastName"/>
        <mat-error *ngIf="profileForm?.get('lastName')?.invalid && profileForm?.get('lastName')?.touched">Format non valide.</mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>prénom</mat-label>
        <input matInput type="text" formControlName="firstName"/>
        <mat-error *ngIf="profileForm?.get('firstName')?.invalid && profileForm?.get('firstName')?.touched">Format non valide.</mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>email</mat-label>
        <input matInput type="text" formControlName="email"/>
        <mat-error *ngIf="profileForm?.get('email')?.invalid && profileForm?.get('email')?.touched">Format non valide.</mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>mot de passe</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'" formControlName="password"/>
        <mat-icon matSuffix (click)="togglePasswordVisibility()">{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
          <mat-error *ngIf="profileForm?.get('password')?.invalid && profileForm?.get('password')?.touched">
            Au moins 8 caractères dont un chiffre, une minuscule, une majuscule, un caractère spécial.
          </mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>ressaisir le mot de passe</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'" formControlName="passwordControl"/>
        <mat-icon matSuffix (click)="togglePasswordVisibility()">{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
          <mat-error *ngIf="profileForm?.get('passwordControl')?.invalid && profileForm?.get('passwordControl')?.touched">
            Votre de mot de passe n'est pas identique à la saisie précédente.
          </mat-error>
      </mat-form-field>
    </div>
  </form>

  <!-- Form SecretCode - STEP 2 OPTIONAL - PROVIDE THE SECRET CODE -->
  <form [formGroup]="secretCodeForm" class="form-profile" *ngIf="action === 'secretcode'">
    <div class="form-section2">
      <div *ngIf="isSecretCodeDisplayed" class="message-secretCode">
        <p>Un code secret a été envoyé sur votre boîte mail: </p>
        <p>{{ this.profileForm.value.email }}</p>
        <p>Veuillez fournir le code demandé pour terminer la procédure de changement d'email</p>
      </div>

      <mat-form-field *ngIf="isSecretCodeDisplayed">
        <mat-label>Code secret</mat-label>
        <input matInput type="text" formControlName="secretCode"/>
        <mat-error *ngIf="profileForm?.get('secretCode')?.invalid && profileForm?.get('secretCode')?.touched">Code invalide.</mat-error>
      </mat-form-field>
    </div>
  </form>

  <!-- Success and Error messages -->
  <div  class="success-message" *ngIf="successMessage">
    <mat-hint>{{successMessage}} ({{countdown}}s)</mat-hint>
  </div>
  <div  class="error-message" *ngIf="errorMessage">
    <mat-error>{{errorMessage}}</mat-error>
  </div>

  <!-- Button section for updating profil-->
  <div class="button-container1">
    <button *ngIf="!isSecretCodeDisplayed" mat-raised-button class="button-common" (click)="processSwitch()">Enregistrer</button>
    <button *ngIf="isSecretCodeDisplayed" mat-raised-button class="button-common" (click)="updateWithSecretCode()">Enregistrer</button>
    <button mat-raised-button class="button-quit" (click)="closeFormProfile()">Quitter</button>
  </div>
</div>

<div class="delete-section" *ngIf="data.action === 'delete'">
  <h2>Supprimer votre profil utilisateur</h2>

  <!-- Deletion section -->
  <div class="message-delete-account">
      <p>Êtes-vous sûre de vouloir supprimer votre compte utilisateur ? </p>
      <p>Note: l'ensemble des données associées seront supprimées.</p>
  </div>

  <!-- Success and Error messages -->
  <div  class="success-message" *ngIf="successMessage">
    <mat-hint>{{successMessage}} ({{countdown}}s)</mat-hint>
  </div>
  <div  class="error-message" *ngIf="errorMessage">
    <mat-error>{{errorMessage}}</mat-error>
  </div>

  <!-- Button section for deleting profil-->
  <div class="button-container2">
    <button mat-raised-button class="button-common" (click)="deleteUserRequest(this.userData.userProfil.id)">Oui, supprimer</button>
    <button mat-raised-button class="button-quit" (click)="closeFormProfile()">Non, quitter</button>
  </div>
</div>

