<div class="component">
  <div class="title">
    <mat-card>
      <mat-card-content>Paramétres</mat-card-content>
    </mat-card>
  </div>
  <div class="main">
    <div class="container-card">
      <app-profile></app-profile>
    </div>
    <div class="container-card">
      <app-bank-account></app-bank-account>
    </div>
  </div>
</div>
