.form-csvFile{
  width: 475px;
  height: 500px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.form-csvFile-delete{
  width: 445px;
  height: 340px;
  margin: auto;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: space-evenly;
}

h2{
  font-size: 20px;
  margin-top: 0px;
}

mat-form-field{
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
}

.line{
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.dragAndDropArea {
  width: 80%;
  height: 200px;
  border: 6px dotted rgb(10, 10, 90);
  border-radius: 5%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:center;
  background-color: white;
}

.dd_icon {
  width: 100px;
  height: 60px;
  font-size: 70px;
  margin-bottom: 10%;
}

.common_message{
  color: green;
}

.button-container button {
  margin-left: 10px;
}

.button-common{
  background-color: rgb(10, 10, 90);
  color: white;
  width: 150px;
}

.button-quitOrReset{
  background-color: rgb(133, 133, 133);
  color: white;
  width: 150px;
}

/* Styles spécifiques pour les écrans de taille 768x1024 */
@media (max-width: 768px) and (max-height: 1024px) {
  .form-csvFile, .form-delete-csvFile {
    width: 475px;
    height: 390px;
    overflow-x: auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

  h2 {
    text-align: center;
    margin-top: 0px;
  }

  mat-form-field {
    width: 100%;
  }

  .dragAndDropArea {
    width: 80%;
    height: 150px;
    border: 6px dotted rgb(10, 10, 90);
    border-radius: 5%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    background-color: white;
  }

  .dd_icon {
    width: 100px;
    height: 60px;
    font-size: 60px;
    margin-bottom: 10%;
  }

  .button-container {
    margin-top: 20px;
  }

  .success_message, mat-error {
    text-align: center;
  }
}
