<!-- Form CsvFile -->
<form [formGroup]="csvFileForm" class="form-csvFile" *ngIf="data.action === 'create' || data.action === 'update'">

  <h2 *ngIf="data.action === 'create'">Ajouter un relevé bancaire</h2>
  <h2 *ngIf="data.action === 'update'">Modifier un fichier de relevé bancaire</h2>

  <div class="line">
    <mat-form-field>
      <mat-label>n° compte</mat-label>
      <mat-select type="text" formControlName="referenceAccount">
        <mat-option *ngFor="let account of listBankAccount" [value]="account.referenceAccount" [matTooltip]="''+account.bankName+' - '+getTypeAccountLabel(account.typeAccount)" matTooltipPosition="right" aria-label="bank account drop-down menu">
          {{ account.referenceAccount }}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="csvFileForm.get('referenceAccount')?.invalid">
        {{ getErrorMessage('referenceAccount') }}
      </mat-error>
    </mat-form-field>
    <mat-form-field  *ngIf="data.action === 'update'" hintLabel="(*) 2 à 20 caractères alphanumérique et _&-">
      <mat-label>Nom du fichier</mat-label>
      <input matInput #fileName maxlength="20" placeholder="Relevé_2024" type="text" formControlName="fileName">
      <mat-hint align="end">{{fileName.value.length}}/20</mat-hint>
    </mat-form-field>
  </div>

  <div *ngIf="data.action === 'create'" class="dragAndDropArea" appDragAndDrop (fileDropped)="fileSelected($event)">
      <mat-icon class="dd_icon" *ngIf="!file">cloud_upload</mat-icon>
      <p class="dd_text" *ngIf="!file">Glisser-déposer un fichier ici (.xlsx ou .csv)</p>
      <mat-icon class="dd_icon" *ngIf="file">cloud_download</mat-icon>
      <button class="button-quitOrReset" *ngIf="file" mat-raised-button (click)="resetSelectedFile()">Recharger</button>
      <mat-error *ngIf="csvFileForm.get('fileName')?.errors">
          {{ getErrorMessage('fileName') }}
      </mat-error>
      <mat-error *ngIf="csvFileForm.get('fileContent')?.errors">
          {{ getErrorMessage('fileContent') }}
      </mat-error>
  </div>

  <div>
    <mat-hint class="common_message" *ngIf="success_message=== true && data.action === 'create'">Fichier enregistré ({{countdown}}s)</mat-hint>
    <mat-hint class="common_message" *ngIf="success_message=== true && data.action === 'update'">Fichier modifié ({{countdown}}s)</mat-hint>
    <mat-error *ngIf="error">{{ errormessage }}</mat-error>
  </div>

  <div class="button-container">
    <button mat-raised-button class="button-common" (click)="this.sendFormCsvFile(this.csvFileForm, this.data.action)">Enregistrer</button>
    <button mat-raised-button class="button-quitOrReset" (click)="closeFormCsvFile()">Quitter</button>
  </div>

</form>
<!-- Form CsvFile / Delete -->
<form [formGroup]="csvFileForm" class="form-csvFile-delete" *ngIf="data.action === 'delete'">
  <h2>Supprimer un relevé bancaire</h2>
  <p classe="instructions">Êtes-vous sûre de vouloir supprimer ce fichier ?<br>Note: l'ensemble des données associées seront supprimées.</p>
  <p classe="data_selected">Nom de Fichier: {{ this.data.longCsvFile.fileName }}<br>
  <p classe="data_selected">Compte référence: {{ this.data.longCsvFile.referenceAccount }}<br>
  <p classe="data_selected">Banque: {{ this.data.longCsvFile.bankName }} </p>

  <div>
    <mat-hint class="common_message" *ngIf="delete_message">Fichier supprimé({{countdown}}s)</mat-hint>
    <mat-error *ngIf="error">{{ errormessage }}</mat-error>
  </div>

  <div class="button-container">
    <button mat-raised-button class="button-common" (click)="sendFormCsvFile(this.csvFileForm, this.data.action)">Oui, supprimer</button>
    <button mat-raised-button class="button-quit" (click)="closeFormCsvFile()">Non, quitter</button>
  </div>
</form>

