mat-panel-title{
  font-size: 20px;
}

.search-bar {
  display: flex;
  align-items:flex-start;
  justify-items: center;
}

.search-row {
  display: flex;
  flex: 1 1 auto;
}

.search-row-1 {
  width: 40%;
}

.search-row-2 {
  width: 60%;
}

.bankaccountField, .periodField, .transactionTypeField {
  margin-right: 10px;
  width: 33%;
}

.descriptionField {
  flex: 1;
  margin-right: 0px;
  margin-left: 0px;
}

.category {
  margin-right: 0px;
  margin-left: 30px;
}

.icon-addCategory {
  color:rgb(19, 202, 19);;
}

.icon-search {
  color:black;
}

.error-message{
  text-align: center;
}

.column-data{
  font-style: italic;
}

@media (max-width: 1100px) {
  .container-tableau{
    width: 610px ;
    overflow-x: auto;
  }
  .bankingtransaction-table{
    width: 1000px;
  }
}

@media (max-width: 825px) {
  .search-bar {
    width: auto;
  }
}

@media (max-width: 1340px) {
  .search-bar {
    flex-wrap: wrap;
    justify-content: flex-start;
  }
}

@media (max-width: 1559px) {
  .search-bar {
    width: 610px;
  }

  .search-row {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }

  .search-bar > * {
    flex: 1 1 auto;
    margin: 5px 0;
  }

  .category {
    margin: 0;
  }

  .button-addCategory, .button-refresh {
   margin: 0;
  }

  .search-row-1 {
    order: 1;
  }

  .search-row-2 {
    order: 2;
  }
}
