<div class="container-card">
  <mat-accordion>
    <mat-expansion-panel  (opened)="panelTwoOpenState = true"
                          (closed)="panelTwoOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Vos opérations
        </mat-panel-title>
      </mat-expansion-panel-header>

      <!-- SEARCH BAR -->
      <div class="search-bar">
        <div class="search-row search-row-1">
          <mat-form-field class="bankaccountField">
            <mat-label>n° compte</mat-label>
            <mat-select type="text" [(ngModel)]="selectedBankAccountId" (selectionChange)="loadBankingTransactionByBankAccountId(selectedBankAccountId)" aria-label="bank account drop-down menu">
              <mat-option *ngFor="let account of listBankAccount" [value]="account.id"
                          [matTooltip]="''+account.bankName+' - '+getTypeAccountLabel(account.typeAccount)" matTooltipPosition="right">
                {{ account.referenceAccount }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field class="periodField" *ngIf="isDisplayed">
            <mat-label>Période</mat-label>
            <mat-select type="text" [(ngModel)]="selectedPeriod" (selectionChange)="loadBankingTransactionWithFilter()" aria-label="period drop-down menu">
              <mat-option *ngFor="let period  of uniquePeriods" [value]="period ">
                {{ period === 'all' ? 'All' : period }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field class="transactionTypeField" *ngIf="isDisplayed">
            <mat-label>Type de transaction</mat-label>
            <mat-select [(ngModel)]="selectedTransactionType" (selectionChange)="loadBankingTransactionWithFilter()" aria-label="transaction type drop-down menu">
              <mat-option value="all">All</mat-option>
              <mat-option value="credit">Crédit</mat-option>
              <mat-option value="debit">Débit</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="search-row search-row-2">
          <mat-form-field class="descriptionField" *ngIf="isDisplayed">
            <mat-label>Description</mat-label>
            <input matInput [formControl]="selectedDescription" maxlength="50" placeholder="zone de recherche" type="text" (input)="loadBankingTransactionWithFilter()" aria-label="search toolbar">
            <mat-hint align="end">{{selectedDescription.value.length}}/50</mat-hint>
          </mat-form-field>

          <button class="button-refresh" *ngIf="isDisplayed" matTooltip="Réinitialiser les filtres" matTooltipPosition="above" mat-icon-button (click)="clearFilter()">
            <mat-icon class="icon-refresh">refresh</mat-icon>
          </button>

          <mat-form-field class="category" *ngIf="isCategoryDropdownVisible">
            <mat-label>Catégorie</mat-label>
            <mat-select type="text" [(ngModel)]="selectedCategory" aria-label="category drop-down menu">
              <mat-option *ngFor="let category of filteredCategories" [value]="category.categoryName"
                          [matTooltip]="'Type de transaction: '+category.categoryType+''" matTooltipPosition="left">
                {{ category.categoryName }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <button class="button-addCategory" *ngIf="isCategoryDropdownVisible" matTooltip="Associer une catégorie" matTooltipPosition="above" mat-icon-button (click)="addCategory()">
            <mat-icon class="icon-addCategory">add_circle</mat-icon>
          </button>
        </div>
      </div>


      <!-- TABLE -->
      <div class="container-tableau">
        <table class="bankingtransaction-table" mat-table *ngIf="!error" [dataSource]="listBankingTransaction" matSort>

          <ng-container matColumnDef="date">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Date</th>
            <td class="column-data" mat-cell *matCellDef="let element"> {{ element.date }} </td>
          </ng-container>

          <ng-container matColumnDef="description">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Description</th>
            <td class="column-data" mat-cell *matCellDef="let element"> {{ element.description }} </td>
          </ng-container>

          <ng-container matColumnDef="credit">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Crédit</th>
            <td class="column-data" mat-cell *matCellDef="let element"> {{ element.credit }} </td>
          </ng-container>

          <ng-container matColumnDef="debit">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Débit</th>
            <td class="column-data" mat-cell *matCellDef="let element"> {{ element.debit }} </td>
          </ng-container>

          <ng-container matColumnDef="fileName">
            <th mat-header-cell *matHeaderCellDef>Nom du fichier</th>
            <td class="column-data" mat-cell *matCellDef="let element"> {{ element.fileName }} </td>
          </ng-container>

          <ng-container matColumnDef="categoryName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Catégorie</th>
            <td class="column-data" mat-cell *matCellDef="let element"> {{ element.categoryName }} </td>
          </ng-container>

          <!-- Checkbox Column -->
          <ng-container *ngIf="shouldDisplayCheckboxes" matColumnDef="select">
            <th mat-header-cell *matHeaderCellDef>
              <mat-checkbox (change)="$event ? masterToggle() : null"
                            [checked]="selectedCheckboxes.hasValue() && isAllSelected()"
                            [indeterminate]="selectedCheckboxes.hasValue() && !isAllSelected()">
              </mat-checkbox>
            </th>
            <td mat-cell *matCellDef="let element">
              <mat-checkbox (click)="$event.stopPropagation()"
                            (change)="$event ? selectedCheckboxes.toggle(element) : null"
                            [checked]="selectedCheckboxes.isSelected(element)">
              </mat-checkbox>
            </td>
          </ng-container>

          <!-- Définition des colonnes à afficher -->
          <tr mat-header-row *matHeaderRowDef="columnBankingTransaction; sticky: true"></tr>
          <tr mat-row *matRowDef="let row; columns: columnBankingTransaction;"></tr>
        </table>
        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" [pageSize]="5" [pageIndex]="0" matPaginator></mat-paginator>
      </div>

      <mat-error class="error-message" *ngIf="error">{{ errormessage }}</mat-error>
    </mat-expansion-panel>
  </mat-accordion>
</div>
