<div class="component">
  <!-- [appContrast] [appFont] [appLinespacing] -->
  <div class="title">
    <mat-card class="main-card">
      <mat-card-content>Présentation du projet</mat-card-content>
    </mat-card>
  </div>
  <div class="main">
    <div class="presentation">
      <mat-card class="secondary-card">
        <mat-card-content [appContrast] [appFont] [appLinespacing]>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. </mat-card-content>
      </mat-card>
    </div>
    <div class="text-container un">
      <mat-card class="secondary-card">
        <mat-card-header>
          <mat-card-title-group class="picture">
            <img class="visuel" src="assets/compte-icone8_black.png" alt="image compte bancaire">
          </mat-card-title-group>
        </mat-card-header>
        <mat-card-content [appContrast] [appFont] [appLinespacing]>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </mat-card-content>
      </mat-card>
    </div>
    <div class="text-container deux">
      <mat-card class="secondary-card">
        <mat-card-header>
          <mat-card-title-group>
            <img class="visuel" src="assets/salaire-flaticon.png" alt="image salaire">
          </mat-card-title-group>
        </mat-card-header>
        <mat-card-content [appContrast] [appFont] [appLinespacing]>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </mat-card-content>
      </mat-card>
    </div>
    <div class="text-container trois">
      <mat-card class="secondary-card">
      <mat-card-header>
          <mat-card-title-group>
            <img class="visuel" src="assets/tax-flaticon.png" alt="image impot">
          </mat-card-title-group>
        </mat-card-header>
        <mat-card-content [appContrast] [appFont] [appLinespacing]>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
