.component{
  padding-top: 65px;
}

.title{
  margin-bottom: 20px;
}

.main-card {
  font-size: 20px;
  color: white;
  background-color: rgb(10, 10, 90);
}

.picture{
  float: left;
}

.main{
  width: 100%;
  display: flex;
  flex-direction: column;
}

.presentation{
  margin-bottom: 1%;
  width: 100%;
}

.visuel{
  width: 50px;
  height: 50px;
  margin-left: 2%;
  margin-right: 2%;

}

.text-container{
  margin-bottom: 1%;
  width: 33.3%;
}

.un{
  margin-left: 0%;
}

.deux{
  margin-left: 33.3%;
}

.trois{
  margin-left: 66.6%;
}

.visuel-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 2%;
}

@media (max-width: 768px) {
  /* Styles spécifiques pour les écrans de moins de 768px de large */

  .component{
    padding-top: 65px;
  }

  .main {
    flex-direction: column;
  }

  .visuel {
    width: 40px;
    height: 40px;
  }

  .text-container{
    width: 100%;
  }

  .un{
    margin-left: 0%;
  }

  .deux{
    margin-left: 0%;
  }

  .trois{
    margin-left: 0%;
  }

}
