.component{
  padding-top: 65px;
}

.title{
  margin-bottom: 20px;
}

mat-card{
  font-size: 20px;
  color: white;
  background-color: rgb(10, 10, 90);
}

.main{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.component > .main > .container-card{
  flex-basis: 100%;
  margin-bottom: 20px;
  z-index: 1;
}
