<div class="component">
  <div class="title">
    <mat-card class="prime-label">
      <mat-card-content>Relevés Bancaires</mat-card-content>
    </mat-card>
  </div>
  <div class="main">
    <div class="container-card">
      <app-csvfile></app-csvfile>
    </div>
    <div class="container-card">
      <app-banking-transaction></app-banking-transaction>
    </div>
  </div>
</div>
