.main-container{
  background-image: url('../assets/background/2665291.jpg');
  padding-bottom: 15%;
  height: 150%;
}
.secondary-container{
  margin: 0% 5% 0% 5%;
  padding-bottom: 5%;
}

@media screen and (max-width: 768px) {
  .main-container{
    width: 768px;
    padding-bottom: 15%;
    height: 150%;
  }

  .secondary-container{
    margin: 0% 5% 0% 5%;
    padding-bottom: 5%;
  }
}
