<div class="content" [appContrast] [appFont] [appLinespacing] >
  <h2>Paramétres d'accessibilité</h2>
  <div class="disabledpopup">
    <label class="title">Contraste</label>
    <mat-radio-group [(ngModel)]="selectedContrast" color="primary" class="radio-group" aria-label="Contrast, select an option: defaut, reinforced, reverse">
      <mat-radio-button class="radio-button" *ngFor="let contrast of contrasts" [value]="contrast">{{contrast}}</mat-radio-button>
    </mat-radio-group>

    <label class="title">Police</label>
    <mat-radio-group [(ngModel)]="selectedFont" color="primary" class="radio-group" aria-label="Font, select an option: defaut, adapted">
      <mat-radio-button class="radio-button" *ngFor="let font of fonts" [value]="font">{{font}}</mat-radio-button>
    </mat-radio-group>

    <label class="title">Interligne</label>
    <mat-radio-group [(ngModel)]="selectedLineSpacing" color="primary" class="radio-group" aria-label="Line spacing, select an option: defaut, increased">
      <mat-radio-button class="radio-button" *ngFor="let lineSpacing of lineSpacings" [value]="lineSpacing">{{lineSpacing}}</mat-radio-button>
    </mat-radio-group>

    <button mat-icon-button class="icon-close" (click)="closeFormDisabledAccess()" aria-label="icon-button with close icon">
      <mat-icon>close</mat-icon>
    </button>
  </div>
</div>
