.content{
  width: 60vh;
  height: 45vh;
  padding-top: 50px;
}

h2{
  text-align: center;
  margin-bottom: 50px;
}

.disabledpopup{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.radio-group{
  display: flex;
  flex-direction: row;
  margin-left: 25%;
}

.mat-radio-button{
  margin-left: 0;
}

.title{
  font-weight: bold;
  margin-left: 25%;
}

.icon-close{
  margin-top: 4%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
