<mat-accordion>
  <mat-expansion-panel  (opened)="panelOneOpenState = true"
                        (closed)="panelOneOpenState = false">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Vos importations
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div class="full-component">
      <div class="container-tableau">
        <table mat-table class="import-section" [dataSource]="listCvsFile" matSort>

          <ng-container matColumnDef="fileName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Nom du fichier</th>
            <td mat-cell class="column-data"  *matCellDef="let element" data-label="Nom du fichier"> {{ element.fileName }} </td>
          </ng-container>

          <ng-container matColumnDef="creationDate">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Date de chargement</th>
            <td mat-cell class="column-data"  *matCellDef="let element" data-label="Date de chargement"> {{ formatDateAndTime(element.creationDate) }} </td>
          </ng-container>

          <ng-container matColumnDef="referenceAccount">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Compte bancaire</th>
            <td mat-cell class="column-data" *matCellDef="let element" data-label="Compte bancaire"> {{ element.referenceAccount }} </td>
          </ng-container>

          <ng-container matColumnDef="bankName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Banque</th>
            <td mat-cell class="column-data" *matCellDef="let element" data-label="Banque"> {{ element.bankName }} </td>
          </ng-container>

          <ng-container matColumnDef="typeAccount">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Type</th>
            <td mat-cell class="column-data" *matCellDef="let element" data-label="Type"> {{ element.typeAccount }} </td>
          </ng-container>

          <ng-container matColumnDef="Modifier">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let element">
              <button mat-icon-button [matTooltip]="'Modifier fichier:' + element.fileName + '.'" matTooltipPosition="left" (click)="updateCsvFile(element)" aria-label="button with edit icon">
                <mat-icon class="icon-edit">edit</mat-icon>
              </button>
            </td>
          </ng-container>

          <ng-container matColumnDef="Supprimer">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell class="column-data" *matCellDef="let element">
              <button mat-icon-button [matTooltip]="'Effacer fichier:' + element.fileName + '.'" matTooltipPosition="left" (click)="deleteCsvFile(element)" aria-label="button with delete icon">
                <mat-icon class="icon-delete">delete_forever</mat-icon>
              </button>
            </td>
          </ng-container>

          <!-- Définition des colonnes à afficher -->
          <tr class="column-properties" mat-header-row *matHeaderRowDef="displayedCvsFile"></tr>
          <tr class="row-data" mat-row *matRowDef="let row; columns: displayedCvsFile;"></tr>
        </table>
        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" [pageSize]="5" [pageIndex]="0"></mat-paginator>
      </div>

      <div>
        <button mat-icon-button matTooltip="Ajouter nouveau compte" matTooltipPosition="left" (click)="addCsvFile()" aria-label="button with add icon">
          <mat-icon class="icon-add">add_circle</mat-icon>
        </button>
      </div>
    </div>

  </mat-expansion-panel>
</mat-accordion>
