<mat-accordion>
  <mat-expansion-panel  (opened)="panelTwoOpenState = true"
                        (closed)="panelTwoOpenState = false">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Vos comptes bancaires
      </mat-panel-title>
    </mat-expansion-panel-header>
      <div class="full-component">
        <div class="container-tableau">
          <table class="bankaccount-table" mat-table [dataSource]="listBankAccount" matSort>

            <!-- Colonne de propriétés -->
            <ng-container matColumnDef="referenceAccount">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Référence</th>
              <td class="column-data" mat-cell *matCellDef="let element"> {{ element.referenceAccount }} </td>
            </ng-container>

            <ng-container matColumnDef="typeAccount">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Type</th>
              <td class="column-data" mat-cell *matCellDef="let element"> {{ bankAccount.getTypeAccountLabel(element.typeAccount) }} </td>
            </ng-container>

            <ng-container matColumnDef="initialBalance">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Solde initial</th>
              <td class="column-data" mat-cell *matCellDef="let element"> {{ element.initialBalance }} </td>
            </ng-container>

            <ng-container matColumnDef="bankName">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Banque</th>
              <td class="column-data" mat-cell *matCellDef="let element"> {{ element.bankName }} </td>
            </ng-container>

            <ng-container matColumnDef="address">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Adresse</th>
              <td class="column-data" mat-cell *matCellDef="let element"> {{ element.address }} </td>
            </ng-container>

            <ng-container matColumnDef="city">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Ville</th>
              <td class="column-data" mat-cell *matCellDef="let element"> {{ element.city }} </td>
            </ng-container>

            <ng-container matColumnDef="Modifier">
              <th mat-header-cell *matHeaderCellDef></th>
              <td mat-cell *matCellDef="let element">
                <button mat-icon-button [matTooltip]="'Modifier Réf:' + element.referenceAccount + '.'" matTooltipPosition="left" (click)="updateBankAccount(element)" aria-label="button with edit icon">
                  <mat-icon class="icon-edit">edit</mat-icon>
                </button>
              </td>
            </ng-container>

            <ng-container matColumnDef="Supprimer">
              <th mat-header-cell *matHeaderCellDef></th>
              <td mat-cell *matCellDef="let element">
                <button mat-icon-button [matTooltip]="'Effacer Réf:' + element.referenceAccount + '.'" matTooltipPosition="right" (click)="deleteBankAccount(element)" aria-label="button with delete icon">
                  <mat-icon class="icon-delete">delete_forever</mat-icon>
                </button>
              </td>
            </ng-container>

            <!-- Colonnes à afficher -->
            <tr class="column-properties" mat-header-row *matHeaderRowDef="displayedColBankAccount"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColBankAccount;"></tr>
          </table>
          <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" [pageSize]="5" [pageIndex]="0"></mat-paginator>
        </div>

        <div>
          <button mat-icon-button matTooltip="Ajouter nouveau compte" matTooltipPosition="left" (click)="addBankAccount()" aria-label="button with add icon">
            <mat-icon class="icon-add">add_circle</mat-icon>
          </button>
        </div>

      </div>
  </mat-expansion-panel>
</mat-accordion>
