mat-panel-title{
  font-size: 20px;
}

.full-component{
  display: flex;
  flex-direction: row;
}

.container-tableau{
  width: 97%;
}

@media (max-width: 1050px) {
  .container-tableau{
    width: 565px ;
    overflow-x: auto;
  }
  .bankaccount-table{
    width: 800px;
  }
}

.column-properties{
  font-weight: 500;
}

.column-data{
  font-style: italic;
}

.icon-add{
  color:rgb(19, 202, 19);
}

.icon-edit{
  color:orange;
}

.icon-delete{
  color:red;
}
