<form [formGroup]="userForm">
  <div class="title">
    <h1>Connexion</h1>
  </div>

  <div class="form-section">
    <mat-form-field>
      <mat-label>email</mat-label>
      <input matInput placeholder="example@afpa.com" type="text" formControlName="email"/>
      <mat-error *ngIf="userForm?.get('email')?.invalid && userForm?.get('email')?.touched">Format de l'email non valide.</mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>mot de passe</mat-label>
      <input matInput placeholder="mot de passe" [type]="hide ? 'password' : 'text'" formControlName="password"/>
      <mat-icon matSuffix (click)="hide = !hide">{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
        <mat-error *ngIf="userForm?.get('mdp')?.invalid && userForm?.get('mdp')?.touched">
          Au moins 8 caractères dont un chiffre, une minuscule, une majuscule, un caractère spécial.
        </mat-error>
    </mat-form-field>
  </div>

  <div *ngIf="successMessage" class="success-message">
    <mat-hint>{{successMessage}} ({{countdown}}s)</mat-hint>
  </div>

  <div *ngIf="errorMessage" class="error-message">
    {{ errorMessage }}
  </div>

  <div class="button-container">
    <button mat-raised-button class="button-common" (click)="profilRequest(userForm)">Valider</button>
    <button mat-raised-button class="button-quit" (click)="closeFormLogin()">Quitter</button>
  </div>

  <div class="container-link">
    <mat-label class="forgot-password" (click)="openPwdForgot()">Mot de passe oublié</mat-label>
    <mat-label class="registerNewUser" (click)="openRegisterNewUser()">S'inscrire</mat-label>
  </div>
</form>
