form {
  width: 60vh;
  height: 90vh;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.title {
  margin-top: 20px;
  text-align: center;
  width: 100%;
  height: 10%;
}

.form-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 65%;
  margin-top: 10px;
}

.form-section mat-form-field {
  width: 90%;
}

.button-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 15%;
}

.button-container .button-common{
  background-color: rgb(10, 10, 90);
  color: white;
  width: 150px;
}

.button-container .button-quit{
  background-color: rgb(133, 133, 133);
  color: white;
  width: 150px;
  margin-left: 10px;
}

.container-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  height: 10%;
  margin-bottom: 20px;
}

.forgot-password, .registerNewUser {
  font-weight: normal;
  text-decoration : underline;
  color: blue;
  transition: font-weight 0.3s;
  text-align: center;
}

.forgot-password:hover {
  color: purple;
}

.registerNewUser:hover {
  color: purple;
}

.error-message,
.success-message {
  position: absolute;
  bottom: 190px;
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
  text-align: center;
  z-index: 10;
}

.error-message {
  color: red;
}

.success-message {
  color: green;
}

