<mat-accordion>
  <mat-expansion-panel  (opened)="panelOneOpenState = true"
                        (closed)="panelOneOpenState = false">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Votre profil
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div class="content-container">
      <div class="table-container">
        <table mat-table [dataSource]="dataProfil" class="full-width-table">
          <!-- Colonne de propriétés -->
          <ng-container matColumnDef="property" >
            <th mat-header-cell *matHeaderCellDef> Propriété </th>
            <td class="column-properties" mat-cell *matCellDef="let element"> {{ element.property }} </td>
          </ng-container>

          <!-- Colonne de données -->
          <ng-container matColumnDef="data">
            <th mat-header-cell *matHeaderCellDef> Donnée </th>
            <td class="column-data" mat-cell *matCellDef="let element">

              <ng-container *ngIf="element.property === 'Mot de passe'">
                <span class="password-placeholder">
                  {{ hide ? '********' : element.data }}
                </span>
                <mat-icon class="icon-eye" matSuffix (click)="togglePasswordVisibility()">
                  {{ hide ? "visibility_off" : "visibility" }}
                </mat-icon>
              </ng-container>

              <ng-container *ngIf="element.property !== 'Mot de passe'">
                {{ element.data }}
              </ng-container>

            </td>
          </ng-container>

          <!-- Colonnes à afficher -->
          <tr mat-row *matRowDef="let row; columns: displayedColProfil;"></tr>
        </table>
      </div>

      <div class="last-container">
        <div class="button-container">
          <button mat-icon-button matTooltip="Modifier votre profil" matTooltipPosition="left" (click)="updateProfil()" aria-label="button with edit icon">
            <mat-icon class="icon-edit">edit</mat-icon>
          </button>
          <button mat-icon-button matTooltip="Supprimer votre profil" matTooltipPosition="left" (click)="deleteProfil()" aria-label="button with delete forever icon">
            <mat-icon class="icon-delete">delete_forever</mat-icon>
          </button>
        </div>
        <div class="image-placeholder">
          Charger une image
        </div>
      </div>
    </div>

  </mat-expansion-panel>
</mat-accordion>
