mat-panel-title{
  font-size: 20px;
}

.content-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.table-container {
  flex: 2;
}

.full-width-table {
  width: 100%;
  table-layout: fixed;
}

.column-property, .column-data {
  width: 50%;
}

.icon-eye {
  margin-left: 20px;
  cursor: pointer;
  vertical-align: middle;
}

.column-data {
  position: relative;
  vertical-align: middle;
  padding: 8px 0;
}

.password-placeholder {
  display: inline-block;
  width: 150px;
  text-align: left;
}

.last-container {
  flex: 1;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 6px;
}

.image-placeholder {
  width: 120px;
  height: 200px;
  border: 2px solid gray;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  background-color: lightgray;
  border-radius: 15px;
}

.button-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.icon-edit{
  color:orange;
}

.icon-delete{
  color:red;
}




