.form-forgotten-pwd {
  position: relative;
  width: 60vh;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  overflow-y: auto;
  overflow-x: hidden;
}

.title {
  text-align: center;
  width: 100%;
  flex-shrink: 0;
  height: 10%;
  padding-top: 20px
}

mat-horizontal-stepper {
  flex-grow: 1;
  overflow: hidden;
}

mat-horizontal-stepper-header {
  height: 8%;
  flex-shrink: 0;
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.form-section1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  flex-grow: 1;
  margin-top: 36px;
  height: 55%;
}

.form-section1 mat-form-field {
  width: 90%;
}

.button-container1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 369px;
  flex-shrink: 0;
  height: 10%;
}

.form-section2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  flex-grow: 1;
  margin-top: 36px;
  height: 55%;
}

.form-section2 mat-form-field {
  width: 90%;
}

.button-container2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 91px;
  flex-shrink: 0;
  height: 10%;
}

.button-common {
  background-color: rgb(10, 10, 90);
  color: white;
  width: 150px;
}

.button-quit {
  background-color: rgb(133, 133, 133);
  color: white;
  width: 150px;
  margin-left: 10px;
}

.container-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  flex-shrink: 0;
  height: auto;
  margin-top: 73px;
}

.registerNewUser, .connectUser {
  font-weight: normal;
  text-decoration : underline;
  color: blue;
  transition: font-weight 0.3s;
  text-align: center;
}

.registerNewUser:hover {
  color: purple;
}

.connectUser:hover {
  color: purple;
}

.error-message,
.success-message {
  position: absolute;
  bottom: 190px;
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
  text-align: center;
  z-index: 10;
}

.error-message {
  color: red;
}

.success-message {
  color: green;
}

.message-secretCode {
  text-align: center;
  margin-top: 30px;
}

@media only screen and (max-width: 768px) and (max-height: 1024px){
  .button-container1 {
    margin-top: 433px;
  }

  .button-container2 {
    margin-top: 175px;
  }

  .container-link {
    margin-top: 96px;
  }
}
