<div class="form-forgotten-pwd">
  <div class="title">
    <h1>Mot de passe oublié</h1>
  </div>
  <mat-horizontal-stepper [linear]="true" #stepper>
    <!-- ÉTAPE 1: Formulaire email -->
    <mat-step [stepControl]="emailForm" label="Obtenir un code secret">
      <form [formGroup]="emailForm">
        <div class="form-section1">
          <mat-form-field>
            <mat-label>email</mat-label>
            <input matInput type="text" formControlName="email"/>
            <mat-error *ngIf="emailForm?.get('email')?.invalid && emailForm?.get('email')?.touched">Format non valide.</mat-error>
          </mat-form-field>
        </div>

        <div *ngIf="errorMessage1" class="error-message">
          <mat-error>{{ errorMessage1 }}</mat-error>
        </div>

        <div class="button-container1">
          <button mat-raised-button class="button-common" (click)="secretCodeRequest(stepper, this.emailForm.value.email)">Valider</button>
          <button mat-raised-button class="button-quit" (click)="closeFormForgottenPwd()">Quitter</button>
        </div>

        <div class="container-link">
          <mat-label class="registerNewUser" (click)="openRegisterNewUser()">S'inscrire</mat-label>
          <mat-label class="connectUser" (click)="openConnectUser()">Se connecter</mat-label>
        </div>
      </form>
    </mat-step>

    <!-- ÉTAPE 2: Formulaire mot de passe et code secret -->
    <mat-step [stepControl]="passwordSecretCodeForm" label="Changer le mot de passe">
      <form [formGroup]="passwordSecretCodeForm">

        <div class="message-secretCode">
          <p>Un code secret a été envoyé sur votre boîte mail: {{ this.emailForm.value.email }}</p>
          <p>Veuillez fournir le code demandé pour terminer la procédure de changement de mot de passe</p>
        </div>

        <div class="form-section2">
          <mat-form-field>
            <mat-label>mot de passe</mat-label>
            <input matInput [type]="hide ? 'password' : 'text'" formControlName="password"/>
            <mat-icon matSuffix (click)="togglePasswordVisibility()">{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
              <mat-error *ngIf="passwordSecretCodeForm?.get('password')?.invalid && passwordSecretCodeForm?.get('password')?.touched">
                Au moins 8 caractères dont un chiffre, une minuscule, une majuscule, un caractère spécial.
              </mat-error>
          </mat-form-field>

          <mat-form-field>
            <mat-label>ressaisir le mot de passe</mat-label>
            <input matInput [type]="hide ? 'password' : 'text'" formControlName="passwordControl"/>
            <mat-icon matSuffix (click)="togglePasswordVisibility()">{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
              <mat-error *ngIf="passwordSecretCodeForm?.get('passwordControl')?.invalid && passwordSecretCodeForm?.get('passwordControl')?.touched">
                Votre de mot de passe n'est pas identique à la saisie précédente.
              </mat-error>
          </mat-form-field>

          <mat-form-field>
            <mat-label>Code secret</mat-label>
            <input matInput type="text" formControlName="secretCode"/>
            <mat-error *ngIf="passwordSecretCodeForm?.get('secretCode')?.invalid && passwordSecretCodeForm?.get('secretCode')?.touched">
              Code invalide.
            </mat-error>
          </mat-form-field>
        </div>

        <div *ngIf="successMessage" class="success-message">
          <mat-hint>{{successMessage}} ({{countdown}}s)</mat-hint>
        </div>

        <div *ngIf="errorMessage2" class="error-message">
          <mat-error>{{errorMessage2}}</mat-error>
        </div>

        <div class="button-container2">
          <button mat-raised-button class="button-common" (click)="updatePwdRequest()">Valider</button>
          <button mat-raised-button class="button-quit" (click)="closeFormForgottenPwd()">Quitter</button>
        </div>

        <div class="container-link">
          <mat-label class="registerNewUser" (click)="openRegisterNewUser()">S'inscrire</mat-label>
          <mat-label class="connectUser" (click)="openConnectUser()">Se connecter</mat-label>
        </div>
      </form>
    </mat-step>
  </mat-horizontal-stepper>
</div>
