/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.default-contrast {
  color: black;
}

.reinforced-contrast {
  background-color:#343643;
  color: white;
}

.reversed-contrast {
  background-color: #000080;
  color: #ff0;
}

.default-font{
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.reinforced-font{
  font-family:"Open-Dyslexic";
}

.default-linespacing{
  line-height: 20px;
}

.adapted-linespacing{
  line-height: 3;
}
