<div class="component">
  <div class="title">
    <mat-card class="prime-label">
      <mat-card-content>Bilan</mat-card-content>
    </mat-card>
  </div>
  <div class="main">
    <div class="container-card">
      <app-statistical></app-statistical>
    </div>
    <div class="container-card">

    </div>
  </div>
</div>
